/* REGOLE GENERALI */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE HEADER  */
.header-container {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 5;
}

.button-container {
    position: absolute;
    top: 5px;
    right: 5px;
}

.button {
    color: white;
    background-color: #4a4a4a;
    font-size: 0.6em;
    padding: 3px;
    border-radius: 5px;
}

/* REGOLE SCREEN-CONTAINER  */
.screen-container {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}

.screen {
    width: calc(100% / 7 - 12px);
}

.screen img {
    width: 100%;
}

/* REGOLE MENU  */
.menu {
    width: 100%;
    height: 10vh;
    background-color: black;
}


